
run = "NODE_ENV=production node src/server.js"
entrypoint = "src/server.js"
modules = ["postgresql-16"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "NODE_ENV=production node src/server.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
