
# run = "npm start"
# run = "npm run server"
# run = "NODE_ENV=production npm start"
run = "NODE_ENV=production npm run server"
entrypoint = "src/server.js"
modules = ["postgresql-16"]

[nix]
channel = "stable-23_11"

[deployment]
# run = ["sh", "-c", "npm start"]
run = ["sh", "-c", "npm run server"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 35949
externalPort = 3002

[[ports]]
localPort = 43837
externalPort = 3001

# [[ports]]
# localPort = 3001
# externalPort = 80

# [[ports]]
# localPort = 3001
# externalPort = 3001

# [[ports]]
# localPort = 3002
# externalPort = 3002

# [[ports]]
# localPort = 3003
# externalPort = 3003

# [[ports]]
# localPort = 3004
# externalPort = 80

# [[ports]]
# localPort = 8000
# externalPort = 8000
